@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap');

body{
    margin: 0px;
    padding: 0px;
}

.container{
    background-image: url("images/backimgmob@2x.jpg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.logo{
    margin-top: 10%;
    width: 70px;
    height: 70px;
}

.content{
    color: #FFEACF;
    margin-top: 30%;
}

h1{
    font-size: 30px;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    padding-bottom: 0%;
}

p{
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 26px;
    padding-top: 0%;
}

a{
    text-decoration: none;
}

button{
    width: 267px;
    height: 49px;
    background-color: #DFEEEA;
    border: none;
    border-radius: 17px;
    margin-top: 17%;
}

button a{
    color: #282F31;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

@media screen and (min-width: 420px){
    
    .logo{
        margin-top: 5%;
        width: 80px;
        height: 80px;
    }

    .content{
        margin-top: 22%;
    }

    h1{
        font-size: 36px;
    }

    p{
        font-size: 32px;
    }

    button{
        margin-top: 12%;
    }

}

@media screen and (min-width: 500px) {
    
    .content{
        margin-top: 16%;
    }

    h1{
        font-size: 40px;
    }
}

@media screen and (min-width: 660px) {
    
    .content{
        margin-top: 12%;
    }

    h1{
        font-size: 45px;
    }

    button{
        margin-top: 8%;
    }
}

@media screen and (min-width: 700px) {

    .container{
        background-image: url("images/backimg1280@2x.jpg");
    }
}

@media screen and (min-width: 900px) {

    .logo{
        width: 100px;
        height: 100px;
    }
    
    .content{
        margin-top: 6%;
    }

    h1{
        font-size: 60px;
    }

    p{
        font-size: 45px;
    }

    button{
        width: 414px;
        height: 76px;
        margin-top: 5%;
    }

    button a{
        font-size: 28px;
    }
}

@media screen and (min-width: 1200px) {

    .logo{
        width: 100px;
        height: 100px;
    }
    
    .content{
        margin-top: 7%;
    }

    h1{
        font-size: 60px;
    }

    p{
        font-size: 45px;
    }

    button{
        width: 414px;
        height: 76px;
        margin-top: 5%;
    }

    button a{
        font-size: 28px;
    }
}

@media screen and (min-width: 1700px) {

    .logo{
        width: 200px;
        height: 200px;
    }
    
    .content{
        margin-top: 7%;
    }

    h1{
        font-size: 90px;
    }

    p{
        font-size: 45px;
    }

    button{
        width: 414px;
        height: 76px;
        margin-top: 5%;
    }

    button a{
        font-size: 28px;
    }
}
